@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$text-color: #81868e;
$bg-text-color: #fff;
$accent-color: #19bd9a;
$title-color: #333b46;
$bg-color: #f3f3f3;

$border-width: 1px;

$title-f: 'Source Sans Pro', Arial, sans-serif;
$text-f: 'Open Sans', Arial, sans-serif;
